<h1>Reelcraft Studios</h1>
<button>Add new movie</button>
@for (movie of movies; track movie.id) {
  <div>
    <h2>{{ movie.title }}</h2>
    <p><strong>Genre:</strong> {{ movie.genre }}</p>
    <p><strong>Directors: </strong> {{ movie.directors }}</p>
    <p><strong>Status:</strong> {{ movie.status }}</p>
    <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
    <p><strong>Synopsis:</strong> {{ movie.synopsis }}</p>
    <p><strong>Producers: </strong> {{ movie.producers }}</p>
    <p><strong>Budget: </strong> {{ movie.budget }}</p>
    <button>Modify</button>
    <button>Delete</button>
  </div>
}
@empty {
  <p>Aucun film trouvé</p>
}
