<h2>Add New Movie</h2>
<form [formGroup]="movieForm" (ngSubmit)="addMovie()">
  <div>
    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title">
    <div *ngIf="movieForm.get('title')?.invalid && movieForm.get('title')?.touched">
      <small *ngIf="movieForm.get('title')?.errors?.['required']">Title is required.</small>
      <small *ngIf="movieForm.get('title')?.errors?.['minlength']">Title must be at least 2 characters.</small>
    </div>
  </div>

  <div>
    <label for="realisator">Realisator</label>
    <input id="realisator" type="text" formControlName="realisator">
    <div *ngIf="movieForm.get('realisator')?.invalid && movieForm.get('realisator')?.touched">
      <small *ngIf="movieForm.get('realisator')?.errors?.['required']">Realisator is required.</small>
      <small *ngIf="movieForm.get('realisator')?.errors?.['minlength']">Realisator must be at least 2 characters.</small>
    </div>
  </div>

  <div>
    <label for="budget">Budget</label>
    <input id="budget" type="text" formControlName="budget">
    <div *ngIf="movieForm.get('budget')?.invalid && movieForm.get('budget')?.touched">
      <small *ngIf="movieForm.get('budget')?.errors?.['required']">Budget is required.</small>
      <small *ngIf="movieForm.get('budget')?.errors?.['minlength']">Budget is required.</small>
    </div>
  </div>

  <div>
    <label for="releaseDate">Release Date</label>
    <input id="releaseDate" type="date" formControlName="releaseDate">
    <div *ngIf="movieForm.get('releaseDate')?.invalid && movieForm.get('releaseDate')?.touched">
      <small *ngIf="movieForm.get('releaseDate')?.errors?.['required']">Release Date is required.</small>
    </div>
  </div>

  <div>
    <label for="genre">Genre</label>
    <input id="genre" type="text" formControlName="genre">
    <div *ngIf="movieForm.get('genre')?.invalid && movieForm.get('genre')?.touched">
      <small *ngIf="movieForm.get('genre')?.errors?.['required']">Genre is required.</small>
    </div>
  </div>

  <div>
    <label for="status">Status</label>
    <input id="status" type="text" formControlName="status">
    <div *ngIf="movieForm.get('status')?.invalid && movieForm.get('status')?.touched">
      <small *ngIf="movieForm.get('status')?.errors?.['required']">Status is required.</small>
    </div>
  </div>

  <div>
    <label for="synopsis">Synopsis</label>
    <textarea id="synopsis" formControlName="synopsis"></textarea>
    <div *ngIf="movieForm.get('synopsis')?.invalid && movieForm.get('synopsis')?.touched">
      <small *ngIf="movieForm.get('synopsis')?.errors?.['required']">Synopsis is required.</small>
      <small *ngIf="movieForm.get('synopsis')?.errors?.['minlength']">Synopsis must be at least 10 characters.</small>
    </div>
  </div>

  <button type="submit" [disabled]="movieForm.invalid">Add Movie</button>
</form>
